<ion-content [fullscreen]="true">
  <div class="login-page">

    <div class="login-wrapper">
      <!-- HEADER BACK -->
      <div class="login-header">
        <ion-button fill="clear" class="back-btn" (click)="goToLogin()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <img src="assets/Logo/LogoKioEduSinFondo.svg" alt="KioEdu Logo" class="logo-small" />
      </div>

      <div class="login-content">
        <div class="welcome-text">
          <h2 class="card-title">Recuperar cuenta</h2>
          <p class="card-subtitle">Te enviaremos las instrucciones por email</p>
        </div>

        <div class="login-card rounded-card">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <ion-item lines="none" class="mk-input">
              <ion-icon slot="start" name="mail-outline"></ion-icon>
              <ion-input type="email" placeholder="Ingresá tu email" formControlName="email">
              </ion-input>
            </ion-item>

            <ion-button expand="block" type="submit" class="pill-button btn-primary login-submit"
              [disabled]="form.invalid">
              Enviar enlace
            </ion-button>
          </form>

          <div class="signup-block">
            <button type="button" class="link-button" (click)="goToLogin()">
              Volver al inicio de sesión
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>